.Header {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #f8f8f8;
  color: #313131;
}

.Header span {
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .Header-title {
    font-size: 22px;
  }
}